.dataTables_filter{
	width: 100%;
}

.stat-text{
	font-size:30px;
	width:30px;
	margin-right:auto;
	margin-left:auto;
	color:#1F3847;
}

.stat{
	border-right: #000 2px solid;
	border-left: #000 2px solid;
	margin-left: -1px;
	margin-right: -1px;
	height:30px;
}

.stat-title{
	font-size:20px;
	width:120px;
	margin-right:auto;
	margin-left:137px;
	color:#2A7397;
}


.stat-title-row{
	border-right: #000 2px solid;
	border-left: #000 2px solid;
	margin-left: -1px;
	margin-right: -1px;
	height:20px;
	margin-bottom:40px;
}

body{
	background-color: #FFFFFF
}