stylesheetul, menu, dir {
display: block;
list-style-type: none;
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0;
-webkit-margin-end: 0;
-webkit-padding-start: 0;
}

.btn{
	font-size:16px;
}
label{
	font-weight:400;
}
.header-logo{
	margin-top:4px;
	margin-right:15px;
}

.well{
	margin-top:50px;
	margin-right:auto;
	margin-left:auto;
}

.check-container{
	margin-left:-1115px;
}

.fa-check-circle{
	font-size: 32px;
	margin-top: 9px;
	margin-left: -6px;
}

.box-day-container{
	height: 77px;
	width: 531px;
	margin-top: 174px;
	margin-left: 289px;
	background-color: #B1B1B1;
	position: absolute;
}

.day{
	float: left;
	font-size: 20px;
	font-weight: bold;
	margin-left: 29px;
	margin-top: 24px;
}
body {
  padding-top: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
}
.content{
	margin-top:50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-inverse{
	background-color: #1F3847;
	box-shadow: 2px 2px 5px #888888;
	border: 0;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}

.navbar-inverse .navbar-brand{
	color:white;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
	color:white;
	background-color:orange;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.stat-row {
	margin-top:40px;	
	list-style: none;
}


.top-button {
	width:200px;
}


.stat-title{
	position: absolute;
	width: 100%;
	margin-left: -3.5%;
	margin-top: 2%;
	-webkit-margin-after: 0;
	color:white;
	font-size: 17px;
}

.stat-icon{
	position: absolute;
	margin-left: -36.5%;
	margin-top: 28%;
}

.dial-container{
	position: absolute;
	margin-top: -80%;
	margin-left: -4%;
	width:100%;
	height:100%;
}

.navbar-center{
	margin-left:31%;
}

.pillbox-container{
	width:100%;
	margin:auto;
}

.navbar-font{
	font-size:16px;
	margin-right:15px
}

.navbar-right>a:hover{
	color:orange;
}

.nav-button{
	margin-top:8px;
	margin-bottom:auto;
	height:30px;
	font-size:15px;
	margin-left:10px;
}

.login-modal{
	width:300px;
}